@import "tailwindcss";

@theme {
    /* Light mode colors */
    --color-bg: #ffffff;
    --color-banner: #e9ebed;
    --color-active: #ffffff;
    --color-inactive: #adbecb;
    --color-orange: #ed8d25;
    --color-divide: #394146;
}

@media (prefers-color-scheme: dark) {
    @theme {
        /* Dark mode colors - override light mode */
        --color-bg: #1c262d;
        --color-banner: #131b1f;
        --color-active: #ffffff;
        --color-inactive: #adbecb;
        --color-orange: #ed8d25;
        --color-divide: #394146;
    }
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--color-bg);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
